<html>
<head>
	<title>Font DB</title>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="/javascripts/http-auth-interceptor.js"></script>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/javascripts/mainApp.js"></script>
</head>
<body ng-app="fontDB">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img src="favicon.ico" /></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
				</ul>
				<form action="/api/login" id="loginForm">
					<input type="hidden" name="username" value="user" ></input>
					<input type="hidden" name="password" value="pass" ></input>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#" onclick="loginForm.submit()">Login</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</nav>
	
	<ui-view></ui-view>
	
	<script type="text/ng-template" id="/home.html">
		<div class="panel panel-default">
			<div class="panel-heading">Fonts</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Font name</th>
							<th>Is true type?</th>
							<th>Operations</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="font in fonts" ng-click="editFont($index)" data-toggle="modal" data-target="#fontEditDialog">
						  <td>{{font.name}}</td>
						  <td>{{font.isTrueType}}</td>
						  <td>
							<span class="glyphicon glyphicon-remove-sign" ng-click="removeFont($index, $event)"></span>
							<span class="glyphicon glyphicon-pencil"></span>
						  </td>
						</tr> 
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3"><button type="button" class="btn" data-toggle="modal" data-target="#fontEditDialog" ng-click="newFont()">New</button></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
		<form ng-submit="saveFont()">
			<div class="modal fade" id="fontEditDialog" tabindex="-1" role="dialog" aria-labelledby="fontEditDialogLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="fontEditDialogLabel">Font edit</h4>
						</div>
						<div class="modal-body">
							<table class="table">
								<tr>
									<td colspan="2"><input type="text" ng-model="selectedFont.name" class="form-control" placeholder="Name"></input></td>
								</tr>
								<tr>
									<td>Is true type?</td>
									<td><input type="checkbox" ng-model="selectedFont.isTrueType" class="form-control"></input></td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</script>
</body>
</html>